In [7]:
# 5. Ableitung neuer Variablen

## 1. DataFrames importieren

In [ ]:
# Bibliotheken importieren
import pandas as pd
import os

# Pfade definieren
base_path = r"C:\Users\faink\Desktop\Achievement_4\02_Daten"
raw_path = os.path.join(base_path, "Rohe_Daten")
prepared_path = os.path.join(base_path, "Prepared_Daten")

# DataFrame laden (angenommen als Pickle-Datei aus der vorherigen Übung)
ords_prods_merge = pd.read_pickle(os.path.join(prepared_path, "ords_prods_merge.pkl"))

ords_prods_merge.head()

## 2. Teilmenge (erste 1 Mio. Zeilen) erstellen

In [ ]:
df = ords_prods_merge[:1000000]

Um Speicherprobleme zu vermeiden, arbeite ich zunächst mit einer Teilmenge von einer Million Zeilen.

## 3. Benutzerdefinierte Funktion price_label definieren

In [ ]:
def price_label(row):
    if row['prices'] <= 5:
        return 'Low-range product'
    elif (row['prices'] > 5) and (row['prices'] <= 15):
        return 'Mid-range product'
    elif row['prices'] > 15:
        return 'High-range product'
    else:
        return 'Not enough data'

Ich definiere eine Funktion, die Produkte anhand ihres Preises in Preisbereiche einteilt.

## 4. Funktion anwenden & neue Spalte erstellen

In [11]:
df.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2539329,1,prior,1,2,8,NaN,196,1,0
1,2539329,1,prior,1,2,8,NaN,14084,2,0
2,2539329,1,prior,1,2,8,NaN,12427,3,0
3,2539329,1,prior,1,2,8,NaN,26088,4,0
4,2539329,1,prior,1,2,8,NaN,26405,5,0

In [ ]:
df['price_range'] = df.apply(price_label, axis=1)

Die Funktion wird zeilenweise angewendet und erzeugt die neue Spalte price_range.

## 5. Verteilung prüfen

In [ ]:
df['price_range'].value_counts()

Ich prüfe die Häufigkeit der erzeugten Kategorien

## 6. Maximalen Preis prüfe

In [ ]:
df['prices'].max()

Mit max() überprüfe ich, ob Produkte über 15 $ in der Teilmenge vorhanden sind.

## 10. Export des aktualisierten Dataframes

In [ ]:
ords_prods_merge.to_pickle(r'02_Daten/Prepared_Daten/ords_prods_labeled.pkl')

## 7. Preislabels mit loc() erstellen (empfohlene Methode)

In [ ]:
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

## 8. Verteilung der loc‑Labels prüfen

In [ ]:
df['price_range_loc'].value_counts()

Ich überprüfe, ob beide Methoden zu denselben Ergebnissen führen.

## 9. loc‑Methode auf den gesamten Dataframe anwenden

In [ ]:
ords_prods_merge.loc[ords_prods_merge['prices'] > 15, 'price_range'] = 'High-range product'
ords_prods_merge.loc[(ords_prods_merge['prices'] <= 15) & (ords_prods_merge['prices'] > 5), 'price_range'] = 'Mid-range product'
ords_prods_merge.loc[ords_prods_merge['prices'] <= 5, 'price_range'] = 'Low-range product'

Nachdem die Methode erfolgreich getestet wurde, wende ich sie auf den vollständigen Dataframe an.

## 10. Export des aktualisierten Dataframes

In [ ]:
ords_prods_merge.to_pickle(r'02_Daten/Prepared_Daten/ords_prods_labeled.pkl')

Ich speichere den erweiterten Dataframe im Pickle‑Format für die nächste Aufgabe.